# OS
.DS_Store

# Env
.env
*.env
nodejs-api/.env
react-front/.env


# Node / React (any depth)

**/node_modules/
**/.cache/
**/build/
**/dist/

# Python
__pycache__/
*.pyc
.DS_Store

code_dump_*.html
code_dump_*.txt


